{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>View My Post</h1>
        <p>제목: {{ post.title }}</p>
        <p>내용: {{ post.content }}</p>
        <p>게시일: {{ post.created_at }}</p>
<a href="{% url 'post:edit' post.id %}">글 수정하기</a>
<a href="{% url 'post:delete' post.id %}">글 삭제하기</a>
</div>

<br>

<div class="container">
<form action="{% url 'post:commentcreate' post.id %}" method="POST">
{% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="내용을 적어주세요." name="content"></textarea>
    </div>
    <input type="hidden" value="{{ post.id }}" name="post_id">
    <button type="submit" class="btn btn-secondary btn-sm" style="float:right">글 작성하기</button>
</form>
</div>
<br>
<br>
<br>
<div class="container">
{% for comment in comment %}
    <div class="card">
        <div class="card-body">
            <p>작성자: {{comment.user}}</p>
            <p>{{comment.content}}</p>
            <p style="float:right;">{{comment.created_at}}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
